<p class="para">The movie info is a hard slog of years in sweat, blood and tears.
Collectively of course. The work by 2 of the most brilliant coders in the business, Tarun and Hui.</p>
<p class="para">The website was created as a reaction to the rampant non-commercialisation of movie
information sites. Our anger at the missed opportunity to sell out drove us. We felt there was scope to monetise the joyous trivalities of the first-world middle-class. Plus it was a WDI class mandatory homework.</p>
<p class="para">We hope you found the site useful, if not, rest in the knowledge that your dissapointment deeply affects us.</p>
