<!doctype>
<html lang="en"
<head>
	<meta charset="utf-8">
	<title>Task Manager</title>
	<link rel="stylesheet" href="/style.css"
</head>
<body>
	<header>
		<h1>Task Manager. Organise and Resist! </h1>
    <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/tasklist">Tasks List</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/faq">FAQ</a></li>
    </ul>
  </nav>
  </header>
	<%= yield %>
</body>
</html>
